* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pelis_tabla .modelo{
    color: white;
    width: 10%;
    background: #0d2f46da;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    box-shadow: 7px 13px 37px #aaa;
}

.pelis_tabla .modelo2{
    color: white;
    width: 10%;
    background: #0d2f46da;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    box-shadow: 7px 13px 37px #aaa;
}